<img src="../../../assets/images/MyJio.svg" alt="">
<div class="container no-md-gutters anim_section is-visible">
    <div class="carousel-ul story-carousel-initialized stroy-card-carousel-scroll story-slick-center slick-initialized slick-slider">
            <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" >Previous</button>
                <div aria-live="polite" class="slick-list draggable" style="padding: 0px;">
                    <div class="slick-track" role="listbox" style="opacity: 1; width: 3984px; transform: translate3d(-1992px, 0px, 0px);">
                        <div class="carousel-li cursor-pointer slick-slide slick-cloned" onclick="window.location.href='/en-in/jio-life';trackGABanner('It’s time to revolutionise the nation. It’s time to live the JioLife','Explore');sliderClick('JioLife Explore','Explore')" data-slick-index="-4" aria-hidden="true" tabindex="-1" style="width: 332px;">
                            <div class="card story-card-reset rounded-12 overflow-hidden border-0">
                                <div class="card-media-wrapper ">
                                    <div class="story-card-media">
                                        <img class="stroy-card-img" src="/jio.com-hmpg-jiolife-explore1.png" alt="JioLife - Explore 1">
                                    </div>
                                    <div class="overlay-card-bg"></div>
                                </div>
                                <div class="card-img-overlay bottom-text white">
                                    <h5 class="font-bold h5-05">It’s time to<br>
                                    revolutionise the nation.</h5>
                                    <h6 class="font-light h6-06">It’s time to live the <span class="font-black secondary-spanishblue-80">JioLife</span></h6>
                                    <div class="common_btn mt-3">
                                        <button type="button" class="jds-btn inverse fixed-btn" tabindex="-1">
                                            <div class="button-lg">Explore</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
        <div class="carousel-li cursor-pointer slick-slide slick-cloned" onclick="window.location.href='/en-in/jio-life';trackGABanner('Its time to ignite a new way of living','Explore');sliderClick('JioLife Explore','Explore')" data-slick-index="-3" aria-hidden="true" tabindex="-1" style="width: 332px;">
        
        </div>
        <div class="carousel-li cursor-pointer slick-slide slick-cloned" onclick="window.location.href='/en-in/jio-life';trackGABanner('It’s time to inspire every Indian dream.','Explore');sliderClick('JioLife Explore','Explore')" data-slick-index="-2" aria-hidden="true" tabindex="-1" style="width: 332px;">
        
        </div>
        <div class="carousel-li cursor-pointer slick-slide slick-cloned slick-center" onclick="window.location.href='/en-in/jio-life';trackGABanner('It’s time to inspire every Indian dream.','Explore');sliderClick('JioLife Explore','Explore')" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 332px;">
        <div class="card story-card-reset rounded-12 overflow-hidden border-0">
        <div class="card-media-wrapper ">
        <div class="story-card-media">
        <img class="stroy-card-img" src="/jio.com-hmpg-jiolife-explore4.png" alt="JioLife - Explore 4">
        </div>
        <div class="overlay-card-bg"></div>
        </div>
        <div class="card-img-overlay bottom-text white">
        <h5 class="font-bold h5-05">It’s time to<br>
        enrich curious minds.</h5>
        <h6 class="font-light h6-06">It’s time to live the <span class="font-black secondary-spanishblue-80">JioLife</span></h6>
        <div class="common_btn mt-3">
        <button type="button" class="jds-btn inverse fixed-btn" tabindex="-1">
        <div class="button-lg">Explore</div>
        </button>
        </div>
        </div>
        </div>
        </div>
        <div class="carousel-li cursor-pointer slick-slide" onclick="window.location.href='/en-in/jio-life';trackGABanner('It’s time to revolutionise the nation. It’s time to live the JioLife','Explore');sliderClick('JioLife Explore','Explore')" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 332px;">
        <div class="card story-card-reset rounded-12 overflow-hidden border-0">
        <div class="card-media-wrapper ">
        <div class="story-card-media">
        <img class="stroy-card-img" src="/jio.com-hmpg-jiolife-explore1.png" alt="JioLife - Explore 1">
        </div>
        <div class="overlay-card-bg"></div>
        </div>
        <div class="card-img-overlay bottom-text white">
        <h5 class="font-bold h5-05">It’s time to<br>
        revolutionise the nation.</h5>
        <h6 class="font-light h6-06">It’s time to live the <span class="font-black secondary-spanishblue-80">JioLife</span></h6>
        <div class="common_btn mt-3">
        <button type="button" class="jds-btn inverse fixed-btn" tabindex="-1">
        <div class="button-lg">Explore</div>
        </button>
        </div>
        </div>
        </div>
        </div>
        <div class="carousel-li cursor-pointer slick-slide" onclick="window.location.href='/en-in/jio-life';trackGABanner('Its time to ignite a new way of living','Explore');sliderClick('JioLife Explore','Explore')" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 332px;">
        <div class="card story-card-reset rounded-12 overflow-hidden border-0">
        <div class="card-media-wrapper ">
        <div class="story-card-media">
        <img class="stroy-card-img" src="/jio.com-hmpg-jiolife-explore2.png" alt="JioLife - Explore 2">
        </div>
        <div class="overlay-card-bg"></div>
        </div>
        <div class="card-img-overlay bottom-text white">
        <h5 class="font-bold h5-05">It’s time to<br>
        ignite a new way of living.</h5>
        <h6 class="font-light h6-06">It’s time to live the <span class="font-black secondary-spanishblue-80">JioLife</span></h6>
        <div class="common_btn mt-3">
        <button type="button" class="jds-btn inverse fixed-btn" tabindex="-1">
        <div class="button-lg">Explore</div>
        </button>
        </div>
        </div>
        </div>
        </div>
        <div class="carousel-li cursor-pointer slick-slide slick-active" onclick="window.location.href='/en-in/jio-life';trackGABanner('It’s time to inspire every Indian dream.','Explore');sliderClick('JioLife Explore','Explore')" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 332px;">
        <div class="card story-card-reset rounded-12 overflow-hidden border-0">
        <div class="card-media-wrapper ">
        <div class="story-card-media">
        <img class="stroy-card-img" src="/jio.com-hmpg-jiolife-explore3.png" alt="JioLife - Explore 3">
        </div>
        <div class="overlay-card-bg"></div>
        </div>
        <div class="card-img-overlay bottom-text white">
        <h5 class="font-bold h5-05">It’s time to<br>
        inspire every Indian dream.</h5>
        <h6 class="font-light h6-06">It’s time to live the <span class="font-black secondary-spanishblue-80">JioLife</span></h6>
        <div class="common_btn mt-3">
        <button type="button" class="jds-btn inverse fixed-btn" tabindex="0">
        <div class="button-lg">Explore</div>
        </button>
        </div>
        </div>
        </div>
        </div>
        <div class="carousel-li cursor-pointer slick-slide slick-current slick-active slick-center" onclick="window.location.href='/en-in/jio-life';trackGABanner('It’s time to inspire every Indian dream.','Explore');sliderClick('JioLife Explore','Explore')" data-slick-index="3" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 332px;">
        <div class="card story-card-reset rounded-12 overflow-hidden border-0">
        <div class="card-media-wrapper ">
        <div class="story-card-media">
        <img class="stroy-card-img" src="/jio.com-hmpg-jiolife-explore4.png" alt="JioLife - Explore 4">
        </div>
        <div class="overlay-card-bg"></div>
        </div>
        <div class="card-img-overlay bottom-text white">
        <h5 class="font-bold h5-05">It’s time to<br>
        enrich curious minds.</h5>
        <h6 class="font-light h6-06">It’s time to live the <span class="font-black secondary-spanishblue-80">JioLife</span></h6>
        <div class="common_btn mt-3">
        <button type="button" class="jds-btn inverse fixed-btn" tabindex="0">
        <div class="button-lg">Explore</div>
        </button>
        </div>
        </div>
        </div>
        </div>
        <div class="carousel-li cursor-pointer slick-slide slick-cloned slick-active" onclick="window.location.href='/en-in/jio-life';trackGABanner('It’s time to revolutionise the nation. It’s time to live the JioLife','Explore');sliderClick('JioLife Explore','Explore')" data-slick-index="4" aria-hidden="false" tabindex="-1" style="width: 332px;">
        <div class="card story-card-reset rounded-12 overflow-hidden border-0">
        <div class="card-media-wrapper ">
        <div class="story-card-media">
        <img class="stroy-card-img" src="/jio.com-hmpg-jiolife-explore1.png" alt="JioLife - Explore 1">
        </div>
        <div class="overlay-card-bg"></div>
        </div>
        <div class="card-img-overlay bottom-text white">
        <h5 class="font-bold h5-05">It’s time to<br>
        revolutionise the nation.</h5>
        <h6 class="font-light h6-06">It’s time to live the <span class="font-black secondary-spanishblue-80">JioLife</span></h6>
        <div class="common_btn mt-3">
        <button type="button" class="jds-btn inverse fixed-btn" tabindex="0">
        <div class="button-lg">Explore</div>
        </button>
        </div>
        </div>
        </div>
        </div>
        <div class="carousel-li cursor-pointer slick-slide slick-cloned" onclick="window.location.href='/en-in/jio-life';trackGABanner('Its time to ignite a new way of living','Explore');sliderClick('JioLife Explore','Explore')" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 332px;">
        <div class="card story-card-reset rounded-12 overflow-hidden border-0">
        <div class="card-media-wrapper ">
        <div class="story-card-media">
        <img class="stroy-card-img" src="/jio.com-hmpg-jiolife-explore2.png" alt="JioLife - Explore 2">
        </div>
        <div class="overlay-card-bg"></div>
        </div>
        <div class="card-img-overlay bottom-text white">
        <h5 class="font-bold h5-05">It’s time to<br>
        ignite a new way of living.</h5>
        <h6 class="font-light h6-06">It’s time to live the <span class="font-black secondary-spanishblue-80">JioLife</span></h6>
        <div class="common_btn mt-3">
        <button type="button" class="jds-btn inverse fixed-btn" tabindex="-1">
        <div class="button-lg">Explore</div>
        </button>
        </div>
        </div>
        </div>
        </div>
        <div class="carousel-li cursor-pointer slick-slide slick-cloned" onclick="window.location.href='/en-in/jio-life';trackGABanner('It’s time to inspire every Indian dream.','Explore');sliderClick('JioLife Explore','Explore')" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 332px;">
        <div class="card story-card-reset rounded-12 overflow-hidden border-0">
        <div class="card-media-wrapper ">
        <div class="story-card-media">
        <img class="stroy-card-img" src="/jio.com-hmpg-jiolife-explore3.png" alt="JioLife - Explore 3">
        </div>
        <div class="overlay-card-bg"></div>
        </div>
        <div class="card-img-overlay bottom-text white">
        <h5 class="font-bold h5-05">It’s time to<br>
        inspire every Indian dream.</h5>
        <h6 class="font-light h6-06">It’s time to live the <span class="font-black secondary-spanishblue-80">JioLife</span></h6>
        <div class="common_btn mt-3">
        <button type="button" class="jds-btn inverse fixed-btn" tabindex="-1">
        <div class="button-lg">Explore</div>
        </button>
        </div>
        </div>
        </div>
        </div>
        <div class="carousel-li cursor-pointer slick-slide slick-cloned" onclick="window.location.href='/en-in/jio-life';trackGABanner('It’s time to inspire every Indian dream.','Explore');sliderClick('JioLife Explore','Explore')" data-slick-index="7" aria-hidden="true" tabindex="-1" style="width: 332px;">
        <div class="card story-card-reset rounded-12 overflow-hidden border-0">
        <div class="card-media-wrapper ">
        <div class="story-card-media">
        <img class="stroy-card-img" src="/jio.com-hmpg-jiolife-explore4.png" alt="JioLife - Explore 4">
        </div>
        <div class="overlay-card-bg"></div>
        </div>
        <div class="card-img-overlay bottom-text white">
        <h5 class="font-bold h5-05">It’s time to<br>
        enrich curious minds.</h5>
        <h6 class="font-light h6-06">It’s time to live the <span class="font-black secondary-spanishblue-80">JioLife</span></h6>
        <div class="common_btn mt-3">
        <button type="button" class="jds-btn inverse fixed-btn" tabindex="-1">
        <div class="button-lg">Explore</div>
        </button>
        </div>
        </div>
        </div>
        </div>
                    </div>
                </div>
        <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" >Next</button>
    </div>
</div>

